:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 0;
    min-width: 100vh;
    min-height: 100vh;
    position: relative;
}

.cartesian-plan {
    position: absolute;
    top: 0px;
    left: 0px;
}

.app {
    position: absolute;
    top: 0px;
    left: 0px;
}

#info {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 8px;
    background-color: #292d3e;
    color: white;
    font-size: 16px;
}
